@import url('https://fonts.googleapis.com/css?family=Manrope');

.header-div {
    width:100%;
    height: 100px; 
    position: relative; 
    background: white; 
    border-bottom: 1px #D4D4D4 solid;
    display:inline-flex;
}

.header-content {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    position:relative;
}

.img {
    height: 90%;
    padding-left:2%;
}

.img-user {
    height:80%;
    padding-top:0.5%;
}