@import url('https://fonts.googleapis.com/css?family=Manrope');

.dropdown {
  display: inline-block;
  margin:auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  width:fit-content;
  z-index: 1;
  background-color: white;
  font-family: Manrope;
  border-radius: 6px;
  border: #D4D4D4 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #2979FF;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-arrow {
  height:10%; 
  padding-top:11%;
}

@media only screen and (max-width: 600px) {
  .dropdown-arrow {
    height:15px; 
    padding-top:15%;
  }
}