@import url('https://fonts.googleapis.com/css?family=Manrope');

.header-div {
    width:100%;
    height: 100px; 
    position: relative; 
    background: white; 
    border-bottom: 1px #D4D4D4 solid;
    display:inline-flex;
    gap:30%;
}

.header-content {
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    position:relative;
    width:fit-content;
    text-decoration: none;
}

.solicitation {
    position:relative;
    text-align: center;
    width:fit-content;
    padding-top:1.5%;
    margin:auto;
}

.img {
    width:auto;
    height: 90%;
    padding-left:2%;
}

.img-user {
    width:auto;
    height:80%;
}

@media only screen and (max-width: 600px) {
    .header-div {
        width:100%;
        height: 50px; 
    }
    
    .header-content {
        font-size: 10px;
    }
}

@media only screen and (min-width: 600px) {
    
}

@media screen and (min-width: 768px) {
    .header-div {
        width:100%;
        height: 80px; 
    }
    
    .header-content {
        font-size: 18px;
    }
}

@media only screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {
    
}